# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
C:\Users\À’–°¿÷\IdeaProjects\DoExercise\base_Spring\springDemo\lib
C:\Users\À’–°¿÷\IdeaProjects\DoExercise\base_Spring\springDemo\out

