<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="book" class="aop.model.Book"></bean>
    <bean id="bookProxy" class="aop.model.BookProxy"></bean>

    <!--配置aop的操作-->
    <!-- 2 配置aop操作 -->
    <aop:config>
        <!-- 2.1 配置切入点 -->
        <aop:pointcut expression="execution(* aop.model.Book.*(..))" id="pointcut1"/>

        <!-- 2.2 配置切面
            把增强用到方法上面
        -->
        <aop:aspect ref="bookProxy">
            <!-- 配置增强类型
                method： 增强类里面使用哪个方法作为前置
            -->
           <!-- <aop:before method="before1" pointcut-ref="pointcut1"/>
            <aop:after method="after1" pointcut-ref="pointcut1"/>-->
            <!-- around 是在方法调用之前和调用之后，都会调用！！!-->
            <aop:around method="around1" pointcut-ref="pointcut1"/>

        </aop:aspect>
    </aop:config>



</beans>